*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
impatient_god/Library/FailedAssetImports.txt
impatient_god/Library/cache/
impatient_god/Library/previews/
impatient_god/Library/ScriptAssemblies
impatient_god/obj
impatient_god/Temp
